libPlay.so
build_android/bin
build_android/gen
build_android/obj
build_ios/build
local.properties
ant.properties
Debug
Release
ReleaseWithDebugger
DebugAot
ReleaseAot
*.aps
*.ipch
*.sdf
*.opensdf
*.suo
*.user
*.userprops
*.orig
*.xccheckout
xcuserdata
tools/Compile

